# =========================
# GLOBAL
# =========================
.DS_Store
Thumbs.db
*.log

# =========================
# ENV / SECRETS
# =========================
.env
.env.*
*.env

# =========================
# PYTHON (BACKEND)
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.envvenv/

# =========================
# NODE / FRONTEND
# =========================
node_modules/
dist/
build/
.vite/

# =========================
# IDE / EDITORS
# =========================
.vscode/
.idea/

# =========================
# OS / TEMP
# =========================
*.tmp
*.swp

# Scripts locales de activación
backend/activate.ps1

