@import "tailwindcss";

@keyframes logoFadeZoom {
  0% {
    opacity: 0;
    transform: scale(0.85);
  }
  60% {
    opacity: 1;
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-logo {
  animation: logoFadeZoom 0.6s ease-out;
}
